@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* SCSS Variables */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1a011f;
  color: #f7ddfc;
  font-family: 'Roboto', sans-serif;
}

/*General Styles*/
.fas {
  font-size: 32px;
  cursor: pointer;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.app-wrapper {
  width: 100%;
  max-width: 540px;
  height: 100%;
  background-color: #896643;
  padding: 10px 30px;
  position: relative;
  overflow: hidden;
}

.app-header,
.playlist-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.app-header h2,
.playlist-header h2 {
  font-size: 32px;
  font-variant: small-caps;
}

.music-info {
  text-align: center;
}

.music-info .track-img img {
  width: 80%;
  max-height: 300px;
  margin-top: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.music-info h2 {
  margin: 10px 0;
  font-size: 28px;
}

.music-info p {
  font-size: 16px;
  color: #520961;
}

.controls {
  background-color: #3d3a3d;
  text-align: center;
  border-radius: 50px 50px 0 0;
  margin-top: 50px;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
}

.song-duration {
  width: 80%;
  margin: auto;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration-slide input {
  width: 80%;
  margin: 30px 0;
}

.control-btn {
  margin-bottom: 30px;
}

.control-btn button {
  background-color: blue;
  color: white;
  padding: 10px 10px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  border: none;
  margin: 0 10px;
}

.playall {
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.playall span {
  font-size: 32px;
  margin-right: 10px;
}

.volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volume * {
  margin-right: 10px;
}

.volume .speaker-volume {
  font-size: 20px;
}

.playlists {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  padding: 10px 30px;
  opacity: 0.8;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.playlist-header {
  margin-bottom: 15px;
}

.music-playlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.music-playlist span {
  margin-right: 30px;
}

@media screen and (max-width: 414px) {
  .music-info .track-img img {
    width: 80%;
    max-height: 200px;
    margin-top: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .control-btn {
    margin-bottom: 20px;
  }
  .control-btn button {
    text-align: center;
    padding: 10px;
    margin: 0 10px;
  }
  .control-btn button i {
    font-size: 26px;
  }
  .playall {
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  .playall span {
    font-size: 26px;
  }
  .playall i {
    font-size: 23px;
  }
}
/*# sourceMappingURL=style.css.map */